$green: #4CAF50;
$green-light: #93D275;
$white: #fff;
$black-gray: #3C4858;
$red: #F44336;
$gray: #999;
$filter-violet: rgba(125, 46, 185, 0.45);
$agreement: #aaa;
$bg: #CBCBCB;
$black: rgba(0,0,0, 0.2);
$violet: rgba(156, 39, 176, 0.2);

